asgiref==3.8.1
astroid==3.3.3
colorama==0.4.6
dill==0.3.8
dj-database-url==2.2.0
Django==4.2.16
django-ckeditor==6.7.1
django-js-asset==2.2.0
gunicorn==23.0.0
isort==5.13.2
mccabe==0.7.0
packaging==24.1
pillow==10.4.0
platformdirs==4.3.6
psycopg2==2.9.9
pylint==3.3.0
pylint-celery==0.3
pylint-django==2.5.5
pylint-plugin-utils==0.8.2
python-dotenv==1.0.1
sqlparse==0.5.1
tomli==2.0.1
tomlkit==0.13.2
typing_extensions==4.12.2
tzdata==2024.1
whitenoise==6.7.0
