{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="container">
  <div style="padding-top:50px; text-align:center;">
    <h1>{{title}}</h1>
    <p class="lead">Bienvenido a la web patio de juegos.</p>
  </br>
  </div>
    <strong> <h3 class="lead ml-3" >En esta web consta de 6 apps listadas a continuación.</h3></strong>
  </br>
    <ul class="lead">
      <h4>App core</h4>
      <p>La app principal que sostiene el proyecto.</p>
      <h4>App registration</h4>
      <p>Esta app permite la creación de nuevos usuarios, y así poder aprovechar las funcionalidades del resto de la web. Se puede registrar con un nombre de usuario, una contraseña y un correo electrónico, el correo puede ser real o ficticio. Pero para la función de restablecer contraseña necesita un correo real. Podrá iniciar sesión, y cerrar sesión cuando lo desee. Otras funciones de la app son: cambiar de contraseña si así lo desea, cambiar el email y con la ayuda de un correo real podrá restablecer la contraseña si la ha olvidado.</p>
      <p>Si desea aprovechar las funciones de la web, pero sin crear un usuario, puede usar el usuario de ejemplo, iniciando sesión con el usuario: walterMelon, y la contraseña walter1234. En este usuario también encontrará unas con conversaciones ficticias de ejemplo.</p>
      <h4>App profiles</h4>
      <p>Con esta app puede personalizar su perfil, agregar o cambiar una foto de perfil si así lo desea, agregar o modificar una biografía que los demás usuarios podrán leer, y un enlace a una red personal. Esta app también permite ver la lista de todos los usuarios registrados, así como seleccionar cualquier perfil y ver su biografía y dar clic al enlace de su red personal y ser redireccionado.</p>
      <h4>App messenger</h4>
      <p>Messenger es una mensajería en tiempo real entre usuarios registrados.</p>
      <h4>App pages</h4>
      <p>Es una app que utiliza un crud para administrar noticias. Cualquier usuario puede crear, modificar o eliminar una noticia.</p>
      <h4>App blog</h4>
      <p>Consta de un blog del que se puede filtrar a partir de temas. Cualquier usuario registrado puede crear un blog, añadirle una imagen si lo desea y elegir uno o más temas para el filtro.</p>
    </ul>
</div>
{% endblock %}